node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/pail
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Dockerfile
docker-compose.yml
README.md
LICENSE
